@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html body {
    margin: 0;
    font-family: 'Muli', sens-serif;
    position: relative;
    height: 100%;

}

.headerbg {
    background-image: url('../img/bg.png');
    background-size: cover;
    color: white;
    padding: 5%;
    height: 100%;

}

.logo {
    width: 40%;
    margin-top: 30%;
}

.imgright {
    width: 60%;
}

.carousel-inner img
{
	margin: 0 auto;
}

h3{
	color: #633991;
	font-weight: 500;
	font-size: 55px;
}

.gallery{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	color: #161616
}	

.card{
	margin: 0 auto;
	float: none;

}
.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}
.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	background-color: #ff5f6d;

}

.footer button{
	background : #fff;
	color: #fc3232;
	height: 60px;
	padding: 10px;
	width: 80%;
	border-radius: 80px 80px 80px 80px;
	margin-top: 5%;
	border: none;

}

.footer button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
	background:#000;
	color: #fff;
}

.footerbrand{
	background: #181818;
	padding: 40px;
}

.logofooter{
	width: 100%;
}